@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #343434;
  padding: 16px;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .container {
  width: 1024px;
  border-radius: 8px;
  margin: 16px;
  background: #f8f9fa;
  padding: 24px;
  flex-grow: 1;
  height: fit-content;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.item {
  border-radius: 16px;
  padding: 12px 24px 12px 24px;
  background: white;
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: 20px;
}

.item > .inner p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.form {
  display: flex;
  padding: 16px;
  flex-direction: column;
  height: 300px;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: lighter;
}

.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
}

input[type="text"],
input[type="number"] {
  font-family: Raleway, sans-serif;
  background: #f5f1ff;
  border: 2px solid #343434;
  border-radius: 3px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

.btn-submit {
  width: 100%;
  font-family: Raleway, sans-serif;
  border-radius: 3px;
  padding: 6px 12px;
  border: 2px solid #343434;
  color: black;
  font-size: 16px;
  align-self: center;
  cursor: pointer;
}

.input-book {
  margin-bottom: 2px;
}

.container > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.search {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.search > h2 {
  color: #343434;
}

.search > form {
  padding: 16px;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 0.5fr;
  grid-gap: 10px;
}

.search > form > label {
  display: flex;
  align-items: center;
}

.search > form > input {
  padding: 5px;
  border-radius: 3px;
}
#reset {
  background-color: rgb(209, 209, 209);
  border: 1px solid black;
  color: black;
}
.search > form > div > button {
  background-color: #343434;
  color: white;
  border: 0;
  padding: 10px 50px;
  border-radius: 5px;
  cursor: pointer;
}
.container > form > .input_inline > label {
  color: #343434;
  font-weight: bold;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
}

.btn-submit:hover {
  background: #616161;
  color: white;
}

input[type="text"],
input[type="number"],
.btn-submit:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url("../assets/check-outline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("../assets/check-solid.svg");
  background-size: contain;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url("../assets/trash-outline.svg");
  background-size: contain;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url("../assets/trash-fill.svg");
  background-size: contain;
}

.undo-button {
  width: 40px;
  height: 40px;

  background: url("../assets/undo-ouline.svg");
  background-size: contain;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.undo-button:hover {
  background: url("../assets/undo-ouline.svg");
  background-size: contain;
}

.check-button:focus,
.trash-button {
  outline: none;
}

.list-book {
  border-radius: 8px;
}

.shadow {
  border: 2px solid black;
  margin-bottom: 2px;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    margin: 0;
  }

  .wrapper .container {
    width: 100%;
  }

  .list-book {
    width: 90%;
  }

  .form {
    width: 100%;
  }
}
